.info-section {
  color: white;
  background-color: #27292c;
  display: flex;
  flex-direction: column;
  align-items: center;
  .info-content {
    margin-top: 100px;
    max-width: 1050px;
    aside {
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 50px;
    }
    @media screen and (min-width: 600px) {
      display: flex;
      justify-content: space-between;
    }
  }
  .a-btn-white {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
