@import url("../../../Fonts/fonts.css");

.a-btn-white {
  width: fit-content;
  display: inline-block;
  background-color: white;
  padding: 14px 36px;
  color: #2e3034;
  border-radius: 25px;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 25px;
}

.a-btn-black {
  width: fit-content;
  display: inline-block;
  background-color: #343434;
  padding: 28px 75px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 900;
  font-size: 25px;
}

.section-title {
  font-family: "Reey";
  text-align: center;
  padding-top: 100px;
  font-size: 75px;
}
