.email-section {
  color: white;
  background-color: #27292c;
  position: relative;
  padding: 240px 50px 280px 50px;
  .email-content {
    z-index: 2;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 75px;
      font-weight: bold;
    }
    p {
      margin-top: 70px;
      font-size: 30px;
      max-width: 890px;
    }
    @media screen and (max-width: 450px) {
      h2 {
        font-size: 50px;
      }
      p {
        font-size: 20px;
      }
    }

    .email-input {
      z-index: 2;
      height: 60px;
      max-width: 770px;
      width: 100%;
      margin-top: 80px;
      position: relative;
      input {
        font-size: 25px;

        padding: 0;
        border: none;
        border-radius: 50px;
        height: 100%;
        padding-inline: 30px;
        width: 80%;
        @media screen and (min-width: 650px) {
          width: calc(100% - 160px - 30px);
          padding-right: 160px;
        }
      }
      button {
        font-family: "Open Sans";
        font-weight: bold;
        color: white;
        background-color: #54524f;
        border: none;
        border-radius: 50px;
        @media screen and (min-width: 650px) {
          padding: 0 40px;
          position: absolute;
          right: -1px;
          height: 100%;
        }
        @media screen and (max-width: 650px) {
          margin-top: 50px;
          height: 50px;
          width: 200px;
        }
      }
    }
  }
  .lefes {
    z-index: 0;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
  }
}
